azure-functions
azure-identity
azure-monitor-query
azure-core
azure-mgmt-core
azure-mgmt-resource
azure-mgmt-resourcegraph
azure-keyvault
certifi
charset-normalizer
idna
requests
urllib3
pytz
pandas
psycopg2-binary
boto3
pylint